<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="basic.css">
        <title>Kirjautuminen</title>
    </head>
    <body>
       
        <form th:action="@{/form}" method="post" th:object ="${user}">
           <h2>Tervetuloa Pelaajapörssiin! </h2>
           <h3>Seuraavalta sivulta ilmoittautuminen pelaaja/joukkue hakuun.  </h3>
            <div><label> Käyttäjätunnus(ei pakollinen) : <input type="text" name="username"/> </label></div>
           	</br>
            <div><input type="submit" value="Ilmoittautumiseen" th:field = "${user.username}"/></div>
        </form>
      
    </body>
</html>