

body{
  padding:0 0px 0px;
  background-color: #d7d8df;
}



  
  h1{
    height: $size/2;
    line-height: $size/2;
    font-size: 50px;
    border-bottom: 2px solid $bg;
    color: #ea2231;
   
  }
 

 

.bloc{
  article{
    padding:10px;
    height: $size*1.5;
    @include border-radius(3px);
    margin-top: $size/2;
    
   
    
    h1{
      font-size: 14px;
      height: $size/4;
      line-height: $size/4;
    }
 